#animal-list li {
  cursor: pointer;
  padding: 8px 12px;
  list-style: none;
  margin: 5px 0;
  background: local#e9ecef;
  border-radius: 6px;
  transition: 0.3s;
}

#animal-list li:hover {
  background-color: lightgray;
}
#animal-details img {
  width: 200px;
  border-radius: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px auto;
  font-size: 2.5rem;
}
h2 {
  color: #555;
  margin-top: 20px;
}

#animal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
